{% extends "../layout.html" %}

{% block pageTitle %}
  Provide the SIC code - New waste movement - {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: 'waste-produced'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        SIC code and description
      </h1>

      <form method="post">

        {{ govukSelect({
          id: "sic-info",
          name: "sic_info",
          value: data['sic_info'],
          items: [
            {
              value: "",
              text: ""
            },
            {
              value: "01110 Growing of cereals (except rice), leguminous crops and oil seeds",
              text: "01110 Growing of cereals (except rice), leguminous crops and oil seeds",
              selected: data['sic_info'] == "01110 Growing of cereals (except rice), leguminous crops and oil seeds"
            },
            {
              value: "18110	Printing of newspaper",
              text: "18110	Printing of newspaper",
              selected: data['sic_info'] == "18110	Printing of newspaper"
            },
            {
              value: "41201 Construction of commercial buildings",
              text: "41201 Construction of commercial buildings",
              selected: data['sic_info'] == "41201 Construction of commercial buildings"
            },
            {
              value: "55100	Hotels and similar accommodation",
              text: "55100	Hotels and similar accommodation",
              selected: data['sic_info'] == "55100	Hotels and similar accommodation"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
