{% extends "../layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: back_link
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        <span class="win-id govuk-caption-l">EWC code: {{ data['ewc'] }}</span>
        Are there any special handling requirements? (Optional)
      </h1>

      <form method="post">
        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          id: "handling-needs",
          name: "handling_needs",
          value: data['handling_needs'],
          hint: {
            text: "For example, waste may be dusty, smelly or similar, displays a hazardous property (for example, flammable)
                    or has other particular special treatment or handling properties"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
