{% extends "../layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: 'waste-info-note'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk_heading-l">
      SIC code for the process that created the waste
    </h1>

    {{ govukSummaryList ({
      classes: "govuk-!-margin-bottom-1",
      rows: [
        {
          key: {
            text: "SIC code"
          },
          value: {
            text: data['sic_code']
          },
          actions: {
            items: [{
              href: "sic-code.html",
              text: "Change",
              visuallyHiddenText: "sic code"
            }]
          }
        },

        {
          key: {
            text: "Description"
          },
          value: {
            text: data['sic_description']
          },
          actions: {
            items: [{
              href: "sic-code.html",
              text: "Change",
              visuallyHiddenText: "sic description"
            }]
          }
        }
      ]
    }) }}

    <form method="post">
      {{ govukButton({
        classes: "govuk-!-margin-top-4",
        text: "Confirm SIC code details"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
