{% extends "../layout.html" %}

{% block pageTitle %}
  What is the waste contained in? - New waste movement - {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "receiver-contact"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form method="post" {{ novalidateVal }}>

        <h1 class="govuk-heading-l">Give the business address that will receive the waste</h1>

        <p>
          {{ data['receiver_postcode'] }} <br>
          <a href="receiver-contact">Change postcode</a>
        </p>


        {{ govukSelect({
          id: "receiver-full-address",
          label: {
            text: "Select an address:"
          },
          items: [
            {
              value: "addresses",
              text: "5 addresses found",
              selected: true
            },
            {
              value: "address 2",
              text: "2 Thornton Street, Milton Keynes, MK43 0WS",
              name: receiver_full_address
            },
            {
              value: "address 4",
              text: "4 Thornton Street, Milton Keynes, MK43 0WS",
              name: receiver_full_address
            },
            {
              value: "address 6",
              text: "6 Thornton Street, Milton Keynes, MK43 0WS",
              name: receiver_full_address
            },
            {
              value: "address 8",
              text: "8 Thornton Street, Milton Keynes, MK43 0WS",
              name: receiver_full_address
            },
            {
              value: "address 10",
              text: "10 Thornton Street, Milton Keynes, MK43 0WS",
              name: receiver_full_address
            }
          ]
        }) }}


        <p>
          <a href="receiver-address-manual">I cannot find my address in the list</a>
        </p>


        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
