
{% extends "../layout.html" %}

{% block pageTitle %}
  Move waste in the UK
{% endblock %}

{% block beforeContent%}
{{ govukBackLink({
  text: 'Back',
  href: 'javascript:history.go(-1)'
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-!-padding-bottom-2"></div>

    <div>
      <h1 class="govuk-heading-l">
        Export waste from the UK
      </h1>
      <div class="div-line"></div>
    </div>

    <h2 class="govuk-heading-m">
      Tell us about an export
    </h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="">Start a single waste export</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Use an existing template to submit a waste export</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Submit multiple exports using a CSV file</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Continue a draft export</a>
      </li>
    </ul>  

    <div class="govuk-!-padding-bottom-6"></div>

    <h2 class="govuk-heading-m">
        Update or cancel an export
    </h2>
    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="#">Update an export with estimated details to actual details</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Cancel a waste export</a>
      </li>
    </ul>  

    <div class="govuk-!-padding-bottom-6"></div>

    <h2 class="govuk-heading-m">
        View all waste submissions
    </h2>
      <a class="govuk-link govuk-body" href="#">View and check all of your submitted waste.</a>


    <div class="govuk-!-margin-bottom-8"></div>
    <div class="govuk-!-padding-bottom-8"></div>


    <div>
       <h1 class="govuk-heading-l">
        Templates and guidance
      </h1>
      <div class="div-line"></div>
    </div>

    <h2 class="govuk-heading-m">
      Templates
    </h2>
      <p class="govuk-body">Create a template if most of the details stay the same</p>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">Create a template</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Manage templates</a>
        </li>
      </ul>  

      <div class="govuk-!-padding-bottom-6"></div>

      <h2 class="govuk-heading-m">
        How to submit multiple exports using a CSV
      </h2>
        <p class="govuk-body">Find out how you can <a class="govuk-link" href="#">submit multiple waste exports at the same time using a CSV file</a>. </p>

  </div>
</div>

{% endblock %}
