
{% extends "../layout.html" %}

{% block pageTitle %}
  Report a UK waste movement, export or import 
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Report a UK waste movement, export or import
    </h1>

    <p class="govuk-body-l">Movers, exporters and importers of hazardous, non-hazardous and green list waste must use the service to notify the UK’s environmental regulatory bodies.</p>

    <p class="govuk-body">You can use this service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>enter the details of a UK waste movement, export or import</li>
      <li>update any estimates you may have entered – for example, collection date, first carrier or waste quantity</li>
      <li>download and print an Annex VII form to include with a green list waste export, using information you’ve provided</li>
      <li>download and print a waste transfer note or waste information note, using information you’ve provided</li>
    </ul>

    <div class="govuk-!-padding-bottom-5"></div>

    <a href="/v18/index-homepage.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg></a>

      <div class="govuk-!-padding-bottom-5"></div>
      
      <h2 class="govuk-heading-m">
        Before you start
      </h2>
      <p class="govuk-body">Before you can use the Report a UK waste movement, export or import service, you must login or create a Government Gateway and Defra account. You can set up your accounts when you select ‘start now’.</p>

      <p class="govuk-body">You'll need to pay your annual service charge if you’re accessing the service for the first time.</p>
        
      <p class="govuk-body">If you’re an agent or broker acting on behalf of a business or organisation, you must use your own business details.:</p>


      <h2 class="govuk-heading-m">
        Government Gateway
      </h2>
      <p class="govuk-body">Sign in or create a Government Gateway account using your business or organisation email. For example, name@company.com.</p>

      <p class="govuk-body">Do not use a Government Gateway account created to access your personal information.</p>


      <h2 class="govuk-heading-m">
        Defra account
      </h2>
      <p class="govuk-body">Sign in or create a Defra account for your business or organisation.</p>

      <p class="govuk-body">If you're the first person from your business or organisation to create a Defra account, you’ll be setting up the account for your business or organisation.</p>
        
      <p class="govuk-body">You’ll be automatically made the admin and will be able to add team members.</p>


      <h2 class="govuk-heading-m">
        Check regulatory controls
      </h2>
      <p class="govuk-body">Check the regulatory controls that apply to the waste you plan to move, export or import.</p>


      <h2 class="govuk-heading-m">
        UK waste movement controls
      </h2>
      <p class="govuk-body">If you plan to move waste inside the UK, you must report this before the waste is picked up by the first carrier.</p>

      <p class="govuk-body">Check the regulatory controls that apply when you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>xxxxxx</li>
        <li>xxxxxx</li>
        <li>xxxxxx</li>
        <li>xxxxxx</li>
      </ul>


      <h2 class="govuk-heading-m">
        Export and import controls
      </h2>
      <p class="govuk-body">If you plan to export waste from the UK, you must report this at least 3 working days before the waste is picked up by the first carrier. You’ll be able to update estimates to actuals later.</p>

      <p class="govuk-body"><p class="govuk-body">If you plan to export waste from the UK, you must report this at least 3 working days before the waste is picked up by the first carrier. You’ll be able to update estimates to actuals later.</p>

      <p class="govuk-body">Check the regulatory controls that apply when you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">export waste from or import waste to England</a></li>
        <li><a href="">export waste from or import waste to Scotland</a></li>
        <li><a href="">export waste from or import waste to Wales</a></li>
        <li><a href="">export waste from or import waste to Northern Ireland</a></li>
      </ul>


      <h2 class="govuk-heading-m">
        Get help
      </h2>
      <p class="govuk-body">You can contact the service support team if you need help with a technical issue, such as problems accessing the service.</p>

      <p class="govuk-body">The move and track waste service support team will not be able to answer regulatory questions.</p>
        
      <p class="govuk-body">If you need help from a regulator to complete export or import notifications, you can contact your national regulatory team.</p>

      <p class="govuk-body">Your national regulatory team will not be able to answer technical questions about service problems.</p>

  </div>
</div>

{% endblock %}
