{% extends "../layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "waste-info-note"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <!-- if the producer details have already been completed, show them -->
      {% if ((data['producer_details_status'] == 'Completed') or (data['producer_details_status'] == 'Review')) %}

        <h1 class="govuk-heading-l">
          <span class="win-id govuk-caption-l">EWC code: {{ data['ewc'] }}</span>
          Producer contact details
        </h1>

        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-1",
          rows: [
            {
              key: {
                text: "Business name"
              },
              value: {
                text: data['producer_business_name']
              },
              actions: {
                items: [
                  {
                    href: "producer-business-name",
                    text: "Change",
                    visuallyHiddenText: "business name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Address"
              },
              value: {
                html: data['producer_full_address_cya']
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Contact details"
              },
              value: {
                html: data['producer_contact_cya']
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "contact details"
                  }
                ]
              }
            },
            {
              key: {
                text: "SIC code"
              },
              value: {
                html: data['producer_business_sic']
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "sic code"
                  }
                ]
              }
            }
          ]
        }) }}

        <form method="post">
          {{ govukButton({
            classes: "govuk-!-margin-top-4",
            text: "Confirm producer details"
          }) }}
        </form>

      {% else %} <!-- we don't have the details, ask for them -->
        <form method="post">
          <h1 class="govuk-heading-l">Give the business address for the producer</h1>

          {{ govukInput ({
            label: {
              text: "Postcode"
            },
            id: "producer-postcode",
            name: "producer_postcode",
            value: data['producer_postcode'],
            classes: "govuk-input--width-10"
          }) }}

          <p>
            <a href="producer-address-manual">Enter address manually</a>
          </p>

          {{ govukButton({
            text: 'Find address'
          }) }}

          <p class="govuk-!-margin-top-9 govuk-!-margin-bottom-9">
            &#160;
          </p>
        </form>
      {% endif %}

    </div>
  </div>
{% endblock %}
