{% extends "../layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: back_link
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        <span class="win-id govuk-caption-l">EWC code: {{ data['ewc'] }}</span>
        Describe the chemical or biological component of the waste
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <!-- top row with labels -->
      <div class="govuk-date-input" style="display: flex; flex-direction: row;">
        <div class="govuk-date-input__item" style="display: flex; flex-direction: row; margin-bottom: -10px;">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="component">
              Component
            </label>
            <!-- CAN"T GET THE INPUT SIZES CORRECT WHEN HINTS ARE SHOWN
            <div id="component-hint" class="govuk-hint govuk-date-input__hint">
              For example, Lead
            </div> -->
            <input class="govuk-input govuk-date-input__input govuk-input--width-20" id="component" name="component" value="{{ data[['component_list'][0].component'] }}">
          </div>
        </div>

        <div class="govuk-date-input__item" style="display: flex; flex-direction: row; margin-bottom: -10px;">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="hazard-codes">
              Hazard codes
            </label>
            <!-- CAN"T GET THE INPUT SIZES CORRECT WHEN HINTS ARE SHOWN
            <div id="component-hint" class="govuk-hint govuk-date-input__hint">
              All relevant codes
            </div> -->
            <input class="govuk-input govuk-date-input__input govuk-input--width-10" id="hazard-codes" name="hazard_codes" value="{{ data[['component_list'][0].hazard_codes'] }}">
          </div>
        </div>

        <div class="govuk-date-input__item" style="display: flex; flex-direction: row; margin-bottom: -10px;">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="concentration">
              Concentration
            </label>
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="concentration" name="concentration" value="{{ data[['component_list'][0].concentration'] }}" >
              <div class="govuk-input__suffix" aria-hidden="true">%</div>
            </div>
          </div>
        </div>
      </div>

      <!-- second row -->
      <div class="govuk-date-input" style="display: flex; flex-direction: row;">
        <div class="govuk-date-input__item" style="display: flex; flex-direction: row; margin-bottom: -10px;">
          <div class="govuk-form-group">
            <input class="govuk-input govuk-date-input__input govuk-input--width-20" id="component" name="component" value="{{ data[['component_list'][1].component'] }}">
          </div>
        </div>

        <div class="govuk-date-input__item" style="display: flex; flex-direction: row; margin-bottom: -10px;">
          <div class="govuk-form-group">
            <input class="govuk-input govuk-date-input__input govuk-input--width-10" id="hazard-codes" name="hazard_codes" value="{{ data[['component_list'][1].hazard_codes'] }}">
          </div>
        </div>

        <div class="govuk-date-input__item" style="display: flex; flex-direction: row; margin-bottom: -10px;">
          <div class="govuk-form-group">
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="concentration" name="concentration" value="{{ data[['component_list'][1].concentration'] }}" >
              <div class="govuk-input__suffix" aria-hidden="true">%</div>
            </div>
          </div>
        </div>
      </div>

      <!-- third row -->
      <div class="govuk-date-input" style="display: flex; flex-direction: row;">
        <div class="govuk-date-input__item" style="display: flex; flex-direction: row;">
          <div class="govuk-form-group">
            <input class="govuk-input govuk-date-input__input govuk-input--width-20" id="component" name="component" value="{{ data[['component_list'][2].component'] }}">
          </div>
        </div>

        <div class="govuk-date-input__item" style="display: flex; flex-direction: row;">
          <div class="govuk-form-group">
            <input class="govuk-input govuk-date-input__input govuk-input--width-10" id="hazard-codes" name="hazard_codes" value="{{ data[['component_list'][2].hazard_codes'] }}">
          </div>
        </div>

        <div class="govuk-date-input__item" style="display: flex; flex-direction: row;">
          <div class="govuk-form-group">
            <div class="govuk-input__wrapper">
              <input class="govuk-input govuk-date-input__input govuk-input--width-3" id="concentration" name="concentration" value="{{ data[['component_list'][2].concentration'] }}" >
              <div class="govuk-input__suffix" aria-hidden="true">%</div>
            </div>
          </div>
        </div>
      </div>

      {{ govukButton({
        text: "Add another",
        classes: "govuk-button--secondary"
      }) }}


      <form method="post">
        {{ govukButton({
        classes: "govuk-!-margin-top-5",
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
