{% extends "../layout.html" %}

{% block pageTitle %}
  {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "producer-address"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form method="post">

        <h1 class="govuk-heading-l">Give the business address for the producer</h1>

        {{ govukInput({
          label: {
            text: 'Address line 1'
          },
          id: "producer-address-line-1",
          name: "producer_address_line_1",
          value: data['producer_address_line_1'],
          autocomplete: "address-line1"
        }) }}

        {{ govukInput({
          label: {
            text: 'Address line 2 (optional)'
          },
          id: "producer-address-line-2",
          name: "producer_address_line_2",
          value: data['producer_address_line_2'],
          autocomplete: "address-line2"
        }) }}

        {{ govukInput({
          label: {
            text: "Town or city"
          },
          id: "producer-address-town",
          name: "producer_address_town",
          value: data['producer_address_town'],
          autocomplete: "address-level2",
          classes: "govuk-!-width-two-thirds"
        }) }}

        {{ govukInput({
          label: {
            text: "County (optional)"
          },
          id: "producer-address-county",
          name: "producer_address_county",
          value: data['producer_address_county'],
          classes: "govuk-!-width-two-thirds"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          id: "producer-postcode",
          name: "producer_postcode",
          value: data['producer_postcode'],
          autocomplete: "postal-code",
          classes: "govuk-input--width-10"
        }) }}


        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
