{% extends "../layout.html" %}

{% block pageTitle %}
  Describe the waste - New waste movement - {{serviceName}}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "waste-info-note"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

    <!-- If we know the waste details, then we use this page as a check your answers -->
      {% if data['have_waste'] == "true" %}
        <h1 class="govuk-heading-l">
          Waste details
        </h1>

        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-1",
          rows: [
            {
              key: {
                text: "EWC code"
              },
              value: {
                html: data['ewc'] + '<br />' + data['ewc_description']
              },
              actions: {
                items: [
                  {
                    href: "change-ewc-code",
                    text: "Change",
                    visuallyHiddenText: "EWC code"
                  }
                ]
              }
            },
            {
              key: {
                text: "More information"
              },
              value: {
                text: data['waste_additional_info_cya']
              },
              actions: {
                items: [
                  {
                    href: "change-additional-details",
                    text: "Change",
                    visuallyHiddenText: "more information"
                  }
                ]
              }
            }
          ]
        }) }}

        {% if( data['is_hazardous_waste']) == "true" %}

          {{ govukSummaryList({
            classes: "govuk-!-margin-bottom-1",
            rows: [
              {
                key: {
                  text: "Physical form"
                },
                value: {
                  html: data['physical_form_cya']
                },
                actions: {
                  items: [
                    {
                      href: "physical-form",
                      text: "Change",
                      visuallyHiddenText: "physical form"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Weight"
                },
                value: {
                  html: data['weight_cya']
                },
                actions: {
                  items: [
                    {
                      href: "weight",
                      text: "Change",
                      visuallyHiddenText: "weight"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Container"
                },
                value: {
                  html: data['container_cya']
                },
                actions: {
                  items: [
                    {
                      href: "container",
                      text: "Change",
                      visuallyHiddenText: "container details"
                    }
                  ]
                }
              }
            ]
          }) }}

          <hr class="govuk-section-break govuk-section-break--l">
          {{ data['table_html'] | safe }}

        {% endif %} <!-- end haz waste information -->

      <!-- continue after checking your answers to return to the tasklist -->
        <form method="post">
          {{ govukButton({
            classes: "govuk-!-margin-top-5",
            text: "Continue"
          }) }}
        </form>

      <!-- else we don't know any waste details yet, so we ask for them -->
      {% else %}
        <form method="post" {{ novalidateVal }}>

          <!-- if no EWC is entered show the error page -->
          {% if data['ewc_provided'] == "false" %}

            {{ govukInput({
              label: {
                text: "Give the European Waste Catalogue (EWC) code for the waste",
                classes: "govuk-label--l",
                isPageHeading: true
              },
              hint: {
                text: "Six digit code, for example 08 03 12"
              },
              errorMessage: {
                text: "Enter a valid EWC code"
              },
              classes: "govuk-input--width-10",
              id: "ewc",
              name: "ewc"
            }) }}

          {% else %}
            {{ govukInput({
              label: {
                text: "Give the European Waste Catalogue (EWC) code for the waste",
                classes: "govuk-label--l",
                isPageHeading: true
              },
              hint: {
                text: "Six digit code, for example 08 03 12"
              },
              classes: "govuk-input--width-10",
              id: "ewc",
              name: "ewc"
            }) }}

          {% endif %}


          {{ govukDetails({
            summaryText: "Help with EWC codes",
            text: "Before you tell us about a waste movement, you must..."
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}
        </form>

      {% endif %}
    </div>
  </div>
{% endblock %}
