{% extends "../layout.html" %}

{% block pageTitle %}
 Record a new waste movement - {{serviceName}}
{% endblock %}


{% block beforeContent %}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="./">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Record a new waste movement
      </li>
    </ol>
  </div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Waste movement ID: <span class="win-id">AAAA-4712</span>
      </h1>

      <p class="govuk-body govuk-!-margin-bottom-7">
        You have completed {{ completed_sections }} of {{ data['total_sections'] }} sections.
      </p>


      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span>
            About the waste
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="waste" aria-describedby="waste_status">
                  Describe the waste
                </a>
              </span>
              <strong class="govuk-tag {{ data['waste_status_class'] }} app-task-list__tag" id="waste_status">{{ data['waste_status'] }}</strong>
              {% if data['have_waste'] == 'true' %}
              <br />
              <span class="cover-note">
                {{ data['ewc'] }}
              </span>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="hazard" aria-describedby="hazard_status">
                  Describe the hazard
                </a>
              </span>
              <strong class="govuk-tag {{ data['hazard_status_class'] }} app-task-list__tag" id="hazard_status">{{ data['hazard_status'] }}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="hazard" aria-describedby="waste_stored_status">
                  Describe how the waste is stored
                </a>
              </span>
              <strong class="govuk-tag {{ data['waste_stored_status_class'] }} app-task-list__tag" id="waste_stored_status">{{ data['waste_stored_status'] }}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="waste-management" aria-describedby="waste_management_status">
                  Waste management
                </a>
              </span>
              <strong class="govuk-tag {{ data['waste_management_status_class'] }} app-task-list__tag" id="waste_stored_status">{{ data['waste_management_status'] }}</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span>
            Journey of the waste
          </h2>
          <ul class="app-task-list__items">


            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="producer" aria-describedby="producer_info_status">
                  Producer information
                </a>
              </span>
              <strong class="govuk-tag {{ data['producer_info_status_class'] }} app-task-list__tag" id="producer_info_status">{{ data['producer_info_status'] }}</strong>
              {% if data['cover_note'] == 'true' %}
              <br />
              <span class="cover-note">
                Euromovement Limited
              </span>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="pick-up" aria-describedby="pick_up_status">
                  Pick up information
                </a>
              </span>
              <strong class="govuk-tag {{ data['pick_up_status_class'] }} app-task-list__tag" id="pick_up_status">{{ data['pick_up_status'] }}</strong>
              {% if data['pick_up_status'] == 'Completed' %}
              <br />
              <span class="cover-note">
                {{ data['pick_up_location'] }}
              </span>
              {% endif %}
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="carrier-contact" aria-describedby="carrier_contact_status">
                  Carrier contact information
                </a>
              </span>
              <strong class="govuk-tag {{ data['carrier_contact_status_class'] }} app-task-list__tag" id="carrier_contact_status">{{ data['carrier_contact_status'] }}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="receiver" aria-describedby="receiver_contact_status">
                  Receiver contact information
                </a>
              </span>
              <strong class="govuk-tag {{ data['receiver_contact_status_class'] }} app-task-list__tag" id="receiver_contact_status">{{ data['receiver_contact_status'] }}</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="transportation" aria-describedby="transportation_info_status">
                  Transportation information
                </a>
              </span>
              <strong class="govuk-tag {{ data['transportation_info_status_class'] }} app-task-list__tag" id="transportation_info_status">{{ data['transportation_info_status'] }}</strong>
            </li>

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span>
            Fees
          </h2>
          <ul class="app-task-list__items">


            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {% if data['payment_status'] == 'Completed' %}
                <a href="payment" aria-describedby="payment_status">
                  Payment
                </a>
                {% else %}
                Payment
                {% endif %}
              </span>
              <strong class="govuk-tag {{ data['payment_status_class'] }} app-task-list__tag" id="payment_status">{{ data['payment_status'] }}</strong>
            </li>
          </ul>
        </li>

      </ol>


    </div>


  </div>

{% endblock %}
