
{% extends "layout.html" %}

{% block pageTitle %}
  {{serviceName}} – Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-9">
        {{serviceName}}
      </h1>{{releaseVersion | log }}
    </div>
    <div class="govuk-grid-column-two-thirds">

      <!-------- Waste tracking service prototypes -------->

      <dl class="govuk-list">
        <dt><a href="/v18/">Version 18 (June 2023)</a></dt>
        <dd>
          <span class="govuk-body govuk-!-font-size-16">
            Created for round ? of usability testing.
          </span>

          <ul class="govuk-list">
            <li>
              This round of testing is to test the flow for non-hazardous waste.
            </li>
            <li>
              Iterated on v17 based on previous UR and new design patterns agreed with Hitachi on the green list waste part of the service.
            </li>
            <br>
            <li>
              <b>Includes:</b><br>
              - start page for whole waste tracking service (UK, export and import)
              - the new homepage designs for UK and exports (not yet styled)
              - the first 'basic waste' information section (JIRA WTS2023-332)
            </li>
          </ul>
        </dd>
      </dl>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <dl class="govuk-list">
        <dt><a href="/v17/">Version 17 (April 2023)</a></dt>
        <dd>
          <span class="govuk-body govuk-!-font-size-16">
            Created for round 9 of usability testing.
          </span>

          <ul class="govuk-list">
            <li>
              This round of testing is to test the flow for non-hazardous waste.
            </li>
            <li>
              Added a new page to request any special handling requirements (this is not compulsory).
            </li>
            <li>
              Added a new page to check if there are any POPs in the waste. This area will need more work and is
              serving as a placeholder so we know that POPs need to be included.
            </li>
          </ul>
        </dd>
      </dl>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <dl class="govuk-list">
        <dt>Version 16 (April 2023)</dt>
        <dd>
          <span class="govuk-body govuk-!-font-size-16">
            Created for round 8 of usability testing.
          </span>

          <ul class="govuk-list">
            <li>
              This round of testing is to carry out some A/B testing on adding the hazardous component details.
            </li>
            <li>
              <a href="/v16_a/">Version 16a</a> - There is a single page for adding all the component details.
            </li>
            <li>
              <a href="/v16_b/">Version 16b</a> - There is a single page for adding the component name, concentration
              and related hazard codes, but the user must select to add another.
            </li>
          </ul>
        </dd>
      </dl>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <dl class="govuk-list">
        <dt>
          <a href="https://www.figma.com/file/7zW7uPzyOKKUfN7Ynsz6nn/HW-Consignment-notes?node-id=11918-93917" target="_blank">
            Usability testing round 7
          </a>
          (opens in a new tab)
        </dt>
        <dd>
          <ul class="govuk-list">
            <li>
              This round of testing was to check what details are amended by the drivers when picking up the waste.
            </li>
            <li>
              The <a href="https://defra.sharepoint.com/:w:/s/ea-leg-djw/WasteTrack/EcHiqLdr99ZOlGMF6htekssB8Z_ONl25M-NIveU1qel0ZQ?e=WIGuNe" target="_blank">
              guide for uability testing</a> (opens in a new tab) is kept in sharepoint.
            </li>
            <li>
              <a href="https://www.figma.com/proto/7zW7uPzyOKKUfN7Ynsz6nn/HW-Consignment-notes?page-id=11918%3A93917&node-id=11918-95361&viewport=510%2C-510%2C0.07&scaling=min-zoom&starting-point-node-id=11918%3A95361&show-proto-sidebar=1" target="_blank">
                Flow 1</a>: (opens in a new tab) is to see what data the driver would amend.
            </li>
            <li>
              <a href="https://www.figma.com/proto/7zW7uPzyOKKUfN7Ynsz6nn/HW-Consignment-notes?page-id=11918%3A93917&node-id=11918-94987&viewport=510%2C-510%2C0.07&scaling=min-zoom&starting-point-node-id=11918%3A94987&show-proto-sidebar=1" target="_blank">
                Flow 2</a>: (opens in a new tab) is to see what the receiver will amend or check once the waste arrives.
            </li>
          </ul>
        </dd>
      </dl>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <dl class="govuk-list">
        <dt>
          <a href="https://www.figma.com/file/7zW7uPzyOKKUfN7Ynsz6nn/HW-Consignment-notes?node-id=11658-68659" target="_blank">
            Usability testing round 6
          </a>
          (opens in a new tab)
        </dt>
        <dd>
          <ul class="govuk-list">
            <li>
              This round was to look at the declarations for each party within the flow, to ensure they were in the
              correct place and that the wording made sense to the users.
            </li>
            <li>
              The <a href="https://defra.sharepoint.com/:w:/s/ea-leg-djw/WasteTrack/EUscl6VPDShPnJLaAM27NBsBZOEgtalJtBBCyHr_u4JoxA?e=7T7ErN" target="_blank">
              guide for usability testing</a> (opens in a new tab) is kept in sharepoint.
            </li>
            <li>
              The prototype was created and run in Figma with information pre-completed to make it easy for the user to
              click through and not be distracted by what data to complete.
            </li>
            <li>
              Four flows were created, relating to four tasks, one for each stage requiring a declaration/sign off.
            </li>
            <li>
              <a href="https://www.figma.com/proto/7zW7uPzyOKKUfN7Ynsz6nn/HW-Consignment-notes?page-id=11658%3A68659&node-id=11703-73048&viewport=-7425%2C-6469%2C0.54&scaling=min-zoom&starting-point-node-id=11703%3A73048&show-proto-sidebar=1" target="_blank">
                Flow 1</a>: (opens in a new tab) For the producer to finish off the initial information, and signing the declaration.
            </li>
            <li>
              <a href="https://www.figma.com/proto/7zW7uPzyOKKUfN7Ynsz6nn/HW-Consignment-notes?page-id=11658%3A68659&node-id=11790-95268&viewport=-7425%2C-6469%2C0.54&scaling=min-zoom&starting-point-node-id=11790%3A95268&show-proto-sidebar=1" target="_blank">
                Flow 2</a>: (opens in a new tab) For the carrier to confirm they have picked up the waste.
            </li>
            <li>
              <a href="https://www.figma.com/proto/7zW7uPzyOKKUfN7Ynsz6nn/HW-Consignment-notes?page-id=11658%3A68659&node-id=11790-95783&viewport=-7425%2C-6469%2C0.54&scaling=min-zoom&starting-point-node-id=11790%3A95783&show-proto-sidebar=1" target="_blank">
                Flow 3</a>: (opens in a new tab) To confirm the waste has been picked up.
            </li>
            <li>
              <a href="https://www.figma.com/proto/7zW7uPzyOKKUfN7Ynsz6nn/HW-Consignment-notes?page-id=11658%3A68659&node-id=11790-96298&viewport=-7425%2C-6469%2C0.54&scaling=min-zoom&starting-point-node-id=11790%3A96298&show-proto-sidebar=1" target="_blank">
                Flow 4</a>: (opens in a new tab) For the receiver to confirm the waste has been received.
            </li>
          </ul>
        </dd>
      </dl>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <dl class="govuk-list">
        <dt><a href="/v15/">Version 15 (January 2023)</a></dt>
        <dd>
          <span class="govuk-body govuk-!-font-size-16">
            Created for round 5 of usability testing.
          </span>

          <ul class="govuk-list">
            <li>
              This round of research was to check whether previous small changes made as a result of previous research
              worked for the users. The changes are documented on our
                <a href="https://app.mural.co/t/defra7833/m/defra7833/1663841546667/28555e20c614117cb3d031ba0526994f97c7fe4a?wid=0-1670347389890" target="_blank">
                  design mural board
                </a>.
            </li>
            <li>
              A <a href="https://defra.sharepoint.com/:w:/s/ea-leg-djw/WasteTrack/Eeg6hTl3AcZKt9lgpaDZLpUBgB-RTP8LksCSYPtPcAadsA?e=mNpOKs" target="_blank">
              scenario document</a> was put together to help create more realistic flows for the users.
            </li>
            <li class="govuk-body govuk-!-font-size-16">
              <i>The code for this prototype is a duplicate of v14.3 and then some hacking and hardcoding to make it as
              realistic for the user as possible.</i>
            </li>
          </ul>
        </dd>
      </dl>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <dl class="govuk-list">
        <dt><a href="/v14/">Version 14 (Thursday 22 September 2022 - today)</a></dt>
        <dd>
          <span class="govuk-body govuk-!-font-size-16">
            Created for round 4 of usability testing with carriers.
          </span>

          <ul class="govuk-list">
            <li>There is a 'Start a new waste movement' link to sign in as a carrier. They can then step through and add all
              the information, then confirm their confirmation. This is all that is needed for a carrier.
              (NOTE: I have hacked the code for this version so that no refresh is required.)</li>
            <li>However, if you wish to show as a producer continuing; if you go home (via the breadcrumbs) and then 'Continue
              a waste movement' the tasklist for the producer will be shown. All items can then be reviewed prior to clicking
              to confirm their confirmation. (NOTE: I have hacked the code for this version so that no refresh is required.)</li>
            <li>If required, <a href="/v14/scenario.html">there is a scenario</a> that was put together for the showcase a while ago. I have added extra information
              for the producer and receiver details as well. Depends on whether the usability testing is based on a specific scenario
              to see if they can complete everything or letting them free!</li>
          </ul>
        </dd>
      </dl>

      <dl class="govuk-list">
        <dt><a href="/v14_1/">Version 14.1 (Friday 14 October 2022)</a></dt>
        <dd>
          <ul class="govuk-list">
            <li>Added all the SIC codes (WTG-1699)</li>
            <li>Added an example EWC code with an asterisk (WTG-1687)</li>
            <li>Removed the 'details' section for help with EWC codes (WTG-1689)</li>
            <li>Changed the order of the receiver tasks (WTG-1822)</li>
          </ul>
        </dd>
      </dl>

      <dl class="govuk-list">
        <dt><a href="/v14_2/">Version 14.2 (Friday 14 October 2022)</a></dt>
        <dd>
          <ul class="govuk-list">
            <li>Added some hint text to component field (WTG-1602)</li>
            <li>Made it compulsory to select a radio button when asked to add another component (WTG-1830)</li>
            <li>Updated the EWC code and description list (WTG-1604)</li>
          </ul>
        </dd>
      </dl>

      <dl class="govuk-list">
        <dt><a href="/v14_3/">Version 14.3 (November 2022)</a></dt>
        <dd>
          <ul class="govuk-list">
            <li>Updated SIC code and process questions and merged into one page (WTG-1770)</li>
            <li>Added a review page for how the waste was produced, and ensure the 'change' link works. (WTG-1770)</li>
            <li>Ensure R01 etc. and R1, D01 etc. and D1, are acceptable formats (WTG-1748)</li>
            <li>The review screen for the R or D code entered displays the textual description for the code (WTG-1748)</li>
            <li>Ensured the change link on the R or D code review screen works (WTG-1821)</li>
          </ul>
        </dd>
      </dl>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


      <dl class="govuk-list">
        <dt><a href="/v13/">Version 13 (Friday 2 September 2022 - today)</a></dt>
        <dd>
          <span class="govuk-body govuk-!-font-size-16">(Amendments from
            <a href="https://eaflood.atlassian.net/browse/WTG-1750">Jira ticket 1750</a>)
          </span>
          <br>
          <span class="govuk-body govuk-!-font-size-16">
            Used for round 3 of usability testing (with external users)
          </span>

          <ul class="govuk-list">
            <li>Ensured reviewing content for the receiver and transportation work correctly (WTG-1741, 1743 & 1744)</li>
            <li>Added permit number for the receiver (WTG-1754)</li>
            <li>Made the 'full description of the waste' field mandatory (WTG-1755)</li>
          </ul>
        </dd>

        <dt><a href="/v13_1/">Version 13.1 (Friday 16 September 2022)</a></dt>
        <dd>
          Allowing the carrier to start the process (WTG-1757)
        </dd>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


        <dt><a href="/v12/">Version 12 (Thursday 16 June 2022 - Thursday 1 September 2022)</a></dt>
        <dd>Changes ahead of first round of research</dd>

        <dt><a href="/v12_1/">Version 12.1 (Friday 1 July 2022)</a></dt>
        <dd>Added receiver contact details</dd>

        <dt><a href="/v12_2/">Version 12.2 (Wednesday 13 July 2022)</a></dt>
        <dd>
          <ul class="govuk-list">
            <li>Created a new links for each actor to display their own version of the task list</li>
            <li>Added carrier contact details</li>
            <li>Amended producer name</li>
          </ul>
        </dd>

        <dt><a href="/v12_3/">Version 12.3 (Wednesday 20 July 2022)</a></dt>
        <dd>
          <ul class="govuk-list">
            <li>Added transportation details pages</li>
            <li>Amended hub to show SIC code once it is completed</li>
            <li>Added POPS to the list of hazard codes</li>
          </ul>
        </dd>

        <dt><a href="/v12_4/">Version 12.4 (Wednesday 20 July 2022)</a></dt>
        <dd>Added R or D code</dd>

        <dt><a href="/v12_5/">Version 12.5 (Thursday 21 July 2022)</a></dt>
        <dd>
          <ul class="govuk-list">
            <li>Added carrier confirmation page</li>
            <li>Added producer confirmation page</li>
            <li>Added receiver confirmation page</li>
          </ul>
        </dd>

        <dt><a href="/v12_6/">Version 12.6 (Friday 5 August 2022)</a></dt>
        <dd>
          <span class="govuk-body govuk-!-font-size-16">(Amendments from
            <a href="https://eaflood.atlassian.net/browse/WTG-1704">Jira ticket 1704</a>)
          </span>
          <br>
          <span class="govuk-body govuk-!-font-size-16">
            (Used for internal testing with stakeholders)
          </span>
          <ul class="govuk-list">
            <li>Ensured SIC code is shown once it's already been selected (WTG-1705)</li>
            <li>Removed blank lines under task list items (WTG-1707)</li>
            <li>Created a 'Check your answers page' for receiver contact details (WTG-1708)</li>
            <li>Added a defined list of R or D codes that can be used (WTG-1709)</li>
          </ul>
        </dd>

        <dt><a href="/v12_7/">Version 12.7 (Friday 19 August 2022)</a></dt>
        <dd>
          <span class="govuk-body govuk-!-font-size-16">(Amendments from
            <a href="https://eaflood.atlassian.net/browse/WTG-1726">Jira ticket 1726</a>)
          </span>
          <ul class="govuk-list">
            <li>Added hint text to the 'Full name' of receivers contact details (WTG-1472)</li>
            <li>Amended the label, and added hint text, when asking for details about the waste (WTG-1472)</li>
            <li>Allows for the addition of more than one chemical component (WTG-1690)</li>
          </ul>
        </dd>


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


        <dt><a href="/v11/">Version 11 (Wednesdays 25 May - 15 June 2022)</a></dt>
        <dd>Re-ordering</dd>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <dt><a href="/v10/">Version 10 (Friday 13 - Wednesday 25 May 2022)</a></dt>
        <dd>Reducing sections in task list page</dd>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <dt><a href="/v9/">Version 9</a></dt>
        <dd>First prototype kit based version copied over from V8 on Figma</dd>
      </dl>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
          <span class="govuk-caption-m ">(all links open in a new tab)</span>
        </h2>

        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.figma.com/file/7zW7uPzyOKKUfN7Ynsz6nn/HW-Consignment-notes" target="_blank">
                Figma-based prototype to April 2022
              </a>
            </li>
            <li>
              <a href="https://github.com/defra-design/wts-prototype" target="_blank">
                Prototype code on Github
              </a>
            </li>
            <li>
              <a href="https://www.figma.com/file/fNViGzg2WNpBInB8o4snoW/WTS-prototype-screens?node-id=0-1&t=Yutc3LpaJ2tYJfCH-0" target="_blank">
                Flat screen overview of flows
              </a>
            </li>
            <li>
              <a href="https://app.mural.co/t/defra7833/m/defra7833/1663841546667/28555e20c614117cb3d031ba0526994f97c7fe4a?sender=u99a2fb0acf31d118adab1745" target="_blank">
                Design mural board
              </a>
            </li>
              <a href="https://defra.sharepoint.com/sites/ea-leg-djw/WasteTrack/Shared%20Documents/Forms/AllItems.aspx?id=%2Fsites%2Fea%2Dleg%2Ddjw%2FWasteTrack%2FShared%20Documents%2FWT%20Phase%203%2FWS1%20%2D%20Project%20Delivery%2FProduct%202%20%2D%20Hazardous%20Waste%2FUser%20research%2FUsability%20testing&viewid=74d7ae8c%2De6ec%2D40ad%2D82d7%2Dd1ed1eb97c9a" target="_blank">
                Usability testing folder in sharpoint
              </a>
            </li>

          </ul>
        </nav>
      </aside>

    </div>

  </div>

{% endblock %}
