
{% extends "layout.html" %}

{% block pageTitle %}
  {{serviceName}} – Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-9">
        {{serviceName}}
      </h1>{{releaseVersion | log }}
    </div>
    <div class="govuk-grid-column-two-thirds">

      <dl class="govuk-list">
        <dt><a href="/v12/">Version 12 (Thursday 16 June 2022 - today)</a></dt>
        <dd>Changes ahead of first round of research</dd>

        <dt><a href="/v12_1/">Version 12.1 (Friday 1 July 2022)</a></dt>
        <dd>Added receiver contact details</dd>

        <dt><a href="/v12_2/">Version 12.2 (Wednesday 13 July 2022)</a></dt>
        <dd>
          <ul class="govuk-list">
            <li>Created a new links for each actor to display their own version of the task list</li>
            <li>Added carrier contact details</li>
            <li>Amended producer name</li>
          </ul>
        </dd>

        <dt><a href="/v11/">Version 11 (Wednesdays 25 May - 15 June 2022)</a></dt>
        <dd>Re-ordering</dd>

        <dt><a href="/v10/">Version 10 (Friday 13 - Wednesday 25 May 2022)</a></dt>
        <dd>Reducing sections in task list page</dd>

        <dt><a href="/v9/">Version 9</a></dt>
        <dd>First prototype kit based version copied over from V8 on Figma</dd>
      </dl>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://github.com/defra-design/wts-prototype">
                Prototype code on Github
              </a>
            </li>
            <li>
              <a href="https://www.figma.com/file/7zW7uPzyOKKUfN7Ynsz6nn/HW-Consignment-notes">Figma-based prototype to April 2022</a>
              </li>
            <!-- <li>
              <a href="">
                Design history
              </a>
            </li> -->
          </ul>
        </nav>
      </aside>

    </div>

  </div>

{% endblock %}
